/* @media only screen and (min-width: 320px) and (max-width: 600px) { */
    /* ruleset for 480px - 600px */
  
    /* a.none, li#none {
        display: none;
    }
    li.small{
        width: 25%;
    }
    a.menu, a.button {
        font-size: 5vw;
        margin: 0;
        display: flex;
        justify-content: space-around;

    }

    button.button {
        font-size: 5vw;
        margin: 0;
    }

    
    li.menu {
        margin: 0;
    }
} */
.navigation, ul, li, .main, .buttonish, footer div {
    display: flex;

} 

.navigation, .main , .photo, .info, footer div {
    width: 100%;
}

.navigation{
    justify-content: space-around;
    height: 7vw;
    font-size: 24px;
    top: 0;
    background-color: #FFD4F9;
}

 ul {
    flex-flow: row wrap;
    align-content: center;
    
 }
 
 

 .button:hover, #name {
    color: #FF43CA;
}
#name:hover, .navigation a {
    color: #470EF1;
}

.button:hover {
    background-color: #FF43CA;
    border-color: #470EF1;
    border-width: 0;
}



 #name {
     margin-left: 7%;
     font-family: 'Cabin';
     font-weight: 600;
    font-size: 2.5vw;

}


 
li {
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
}

.navigation {
    font-family: 'Cabin', bold;
    font-size: 2vw;
    justify-content: space-evenly;
    
    
}



.button{
    border-radius: 2vw;
    justify-content: flex-end;
    padding: 0.25rem 1rem;

}

#greytext {
    color: white;

}


.main {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    flex-wrap: wrap;
     height: 20vw;
     margin-top: 4%;
     position: relative;
    

}

 

.hellobox {
    font-weight: 700;
    margin-left: 15%;
    margin-top: -1rem;
    font-size: 3vw;
    width: 50%;
    line-height: 50%;
   
    z-index: 3;
}

.blink {
    animation-name: alternate;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, jump-none);
  }
  @keyframes alternate {
    from { color: #FF43CA} /*color when visible*/
    to   { color: transparent }
  }


.job {
    font-weight: 200;
    position: absolute;
   

}

.photobox {
     margin: 40% 0;
   
}

.photo {
    width: 30vw; /* Ensure the image doesn't exceed the container width */
    height: auto;    /* Maintain the image's aspect ratio */
    max-width: 100%;
    margin-left: -23%;
}



h1.main {
    font-weight: 700;

}

.buttonish {
    align-items: center;
    justify-content: center;
    border-radius: 20rem;
    height: 20vw;
    width: 70vw;
    top: 7rem;
    position: relative;
}

.blue, .button {
    background-color:#470EF1;
    
}

img {
    height: 20rem;
    top: 3rem;
 
}

#aboutme {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    
}


.aboutmelogo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 20rem;
    height: 7rem;
    width: 70%;
    top: 10rem;
    position: relative; 
    z-index: 1;
    margin: 0 0 0 -40%;
}

.aboutmesign {
    margin-right: 7%;
    position: absolute;
    
}
.abzac{
    margin-left: 10%;
line-height: 200%;
    
}
.pink {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #FF43CA;
    font-size: 3vw;

}

.grey {
    color: rgb(200, 198, 198);
    font-size: 3vw;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

}

#grey{
    color: rgb(200, 198, 198);

}



.info {
    display: flex;
    /* position: relative; */
    flex-direction: column;
    justify-content: center;
    justify-items: center;
   
    margin: 8rem 10% 0;
    padding: 5%;
    background-color: #47098F;
    width: 70%;
    

    line-height: 150%;
    z-index: -1 ;
}



.text{
     
     text-align: justify;
     margin: 1%;

}

body {
    background-color: #370170;
    
}

.link img{
    height: 3vw;
    margin-right: 1vw;
}

#contact {
    margin-bottom: 7%;
}
.logo img {
    height: 6vw;
    margin-right: 2vw;
    
}
.logo {
    line-height: 200%;

}

.distance {
   line-height: 300%;

}

.question {
    margin-bottom: 3vw;
}


footer div {
    justify-content: center;
    align-items: center;
    margin:  0 auto;
    height: 10vw;
    font-size: 2vw;
}