@media only screen and (min-width: 320px) and (max-width: 600px) { 
    /* ruleset for 320px - 600px */
    ul.navigation {
        height: 11vw;  
    }
    #name, li#brand_on_left\ none {
        display: none;
    }
    
    .menu, .button, h1.pink, span.pink, div.grey, h1.grey, div.pink, h2.grey{        
        font-size: 4.5vw;
    }
    a.button{
        border-radius: 20vw;
        padding: 2vw 3vw;
    }

    .background.blue {
        width: 95%;
        height: 30vw ;
    }
    div.backgroundbox, #about_me {
        margin: 12% 0;
    }
        
    div.vizitkainfo{
        margin-top: -53%;

    }
    div.hellobox{
        width: 50%;
        margin-left: 5%;
    }

    div.photobox  {
        width: 35%;
    }
    
    div.info {
        margin: -5% 0 -12% 10%;
    }
} 
 /* ------------------------------ */

.navigation, ul, li, #aboutme, .aboutmelogo, .info, .vizitkabox, .vizitkainfo, .backgroundbox , footer div, .hello, .grey {
    display: flex;
    flex-wrap: wrap;
} 

.navigation , .photo, .info, footer div, .vizitkabox, .vizitkainfo, .backgroundbox {
    width: 100%;
}

.vizitkabox,  .info, footer div, .backgroundbox, .vizitkainfo   {
    justify-content: center; 
    align-items: center;
}

.navigation{
    justify-content: space-around;
    height: 7vw;
    font-size: 24px;
    top: 0;
    background-color: #FFD4F9;
}

ul {
    flex-flow: row wrap;
    align-content: center;
}

 .button:hover, #name, .navigation a:hover {
    color: #FF43CA;
}

#name:hover, .navigation a {
    color: #470EF1;
}

.button:hover {
    background-color: #FF43CA;
    border-color: #470EF1;
    border-width: 0;
}

 #name {
     margin-left: 7%;
     font-weight: 600;
    font-size: 2.5vw;

}
 
li {
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
}

.navigation {
    font-family: 'Cabin', bold;
    font-size: 2vw;
    justify-content: space-evenly;
    font-weight: 500; 
}

.button{
    border-radius: 2vw;
    justify-content: flex-end;
    padding: 1vw 2vw;
}

.vizitkabox {
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
     height: 40vw;
     position: relative;
}

.vizitkainfo{
    margin-top: -42%;
    }
    
.hellobox {
    font-weight: 700;
    font-size: 3vw;
    flex-wrap: wrap;
    z-index: 3;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 40%;
    margin-right: -16%;
}

.photobox {
    width:27%;
    z-index: 1;
}

.blink {
    animation-name: alternate;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, jump-none);
  }
  @keyframes alternate {
    from { color: #FF43CA} /*color when visible*/
    to   { color: transparent }
  }

.job {
    font-weight: 200;
    position: absolute;
}

h1.vizitkabox {
    font-weight: 700;
}

.background {
    align-items: center;
    border-radius: 22vw;
    height: 22vw;
    width: 77vw;
}

.backgroundbox {
    margin: 10% 0; 
}

.aboutmelogo{
    align-items: center;
    justify-content: flex-end;
    border-radius: 7vw;
    height: 13vw;
    width: 70%;
    position: relative; 
    z-index: 1;
    margin: 0 0 0 -40%;
}

.aboutmesign {
    margin-right: 10%;
    position: absolute;
}

.abzac{
    margin-left: 10%;
    line-height: 200%;    
}


.blue, .button {
    background-color:#470EF1;
    
}

#project, #skills, #contact {
    font-weight: 600;
}

#white {
    color: white;
}

.pink {
    font-weight: 700;
    font-family: 'Urbanist', sans-serif;
    color: #FF43CA;
    font-size: 2.8vw;
}

.grey, #grey {
    color: rgb(200, 198, 198);
    font-size: 2.8vw;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.info {
    justify-items: center;
    margin: -6.5% 10% 2% 10% ;
    padding: 5%;
    background-color: #47098F;
    width: 70%;
    line-height: 150%;
    z-index: -1 ;
}

.text{
     text-align: justify;
     margin: 3%;
}

body {
    background-color: #370170;
}

.link{
    margin-top: 2%;
}

.link img{
    height: 3vw;
    margin-right: 1vw;
}

#contact {
    margin-bottom: 7%;
}
.logo img {
    height: 6vw;
    margin-right: 2vw;
}
.logo {
    line-height: 200%;
}

.distance {
   line-height: 300%;
}

.question {
    margin-bottom: 3vw;
}

footer div {
    align-items: center;
    margin:  0 auto;
    height: 15vw;
    font-size: 2vw;
}